# Ignore everything
/*
/*/

# Inverse ignore some stuff
!/Assets/
!/ProjectSettings/
!.gitignore
!/AndroidApp
# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
!README.md
!LICENSE.md
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
!Caapora0.png
!Caapora1.png
!Caapora2.png
!Caapora3.png